USE premium_web
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 19/12/2024 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TABLE [dbo].[Empresa](
--	[EmpresaCod] [varchar](5) NOT NULL,
--	[RazonSocial] [varchar](50) NULL,
--	[RUC] [varchar](20) NULL,
--	[Direccion] [varchar](100) NULL,
--	[RepLegalDocTip] [varchar](2) NULL,
--	[RepLegalDocNro] [varchar](20) NULL,
--	[RepLegalApePaterno] [varchar](30) NULL,
--	[RepLegalApeMaterno] [varchar](30) NULL,
--	[RepLegalNombres] [varchar](50) NULL,
--	[EncargadoPlanillaDocTip] [varchar](2) NULL,
--	[EncargadoPlanillaDocNro] [varchar](20) NULL,
--	[EncargadoPlanillaApePaterno] [varchar](30) NULL,
--	[EncargadoPlanillaApeMaterno] [varchar](30) NULL,
--	[EncargadoPlanillaNombres] [varchar](50) NULL,
--	[CtaSolesPagoBancoCod] [char](2) NULL,
--	[CtaSolesPagoNumero] [varchar](30) NULL,
--	[CtaDolaresPagoBancoCod] [char](2) NULL,
--	[CtaDolaresPagoNumero] [varchar](30) NULL,
--	[TipoTrabajoAFPNet] [char](1) NULL,
--	[CuentaCod] [varchar](10) NOT NULL
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[segformulario]    Script Date: 19/12/2024 15:14:58 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

CREATE TABLE [dbo].[segformulario](
	[codigo] [varchar](4) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](100) NULL,
	[codmodulo] [char](2) NOT NULL,
 CONSTRAINT [PK_segformulario] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC,
	[codmodulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[segmenu]    Script Date: 19/12/2024 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[segmenu](
	[codigo] [varchar](20) NOT NULL,
	[etiqueta] [varchar](100) NULL,
	[nivel1] [char](2) NULL,
	[nivel2] [char](2) NULL,
	[nivel3] [char](2) NULL,
	[comando] [varchar](50) NULL,
	[codigoFormulario] [varchar](50) NULL,
	[nombreIcono] [varchar](30) NULL,
	[codmodulo] [varchar](2) NOT NULL,
 CONSTRAINT [PK__segmenu__1452D8144AB81AF0] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC,
	[codmodulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[segmenuxperfil]    Script Date: 19/12/2024 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
select * from [segmenuxperfil]
CREATE TABLE [dbo].[segmenuxperfil](
	[codigoPerfil] [varchar](20) NOT NULL,
	[codigoMenu] [varchar](20) NOT NULL,
	[opcxmenu] [varchar](100) NULL,
	[codmodulo] [varchar](2) NOT NULL,
 CONSTRAINT [PK__segmenux__F19C57C846E78A0C] PRIMARY KEY CLUSTERED 
(
	[codigoMenu] ASC,
	[codigoPerfil] ASC,
	[codmodulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[segmodulo]    Script Date: 19/12/2024 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
select * from [segmodulo]
CREATE TABLE [dbo].[segmodulo](
	[Codigo] [char](2) NOT NULL,
	[Nombre] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[segperfil]    Script Date: 19/12/2024 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[segperfil](
	[codigo] [varchar](20) NOT NULL,
	[nombre] [varchar](20) NULL,
	[descripcion] [varchar](100) NULL,
	[FlagPerfilCliente] [char](1) NULL,
 CONSTRAINT [PK_segperfil] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Segusuario]    Script Date: 19/12/2024 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Segusuario](
	[Codigo] [varchar](20) NOT NULL,
	[CuentaCod] [varchar](10) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[ClaveUsuario] [varchar](100) NULL,
	[CodigoPerfil] [varchar](50) NULL,
 CONSTRAINT [PK_Segusuario] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC,
	[CuentaCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegUsuarioEmpresa]    Script Date: 19/12/2024 15:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[SegUsuarioEmpresa](
	[CuentaCod] [varchar](10) NOT NULL,
	[EmpresaCod] [varchar](5) NOT NULL,
	[UsuarioCod] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
--/****** Object:  Table [dbo].[USUARIO]    Script Date: 19/12/2024 15:14:58 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
----select * from [USUARIO]
--CREATE TABLE [dbo].[USUARIO](
--	[CODUSU] [int] IDENTITY(1,1) NOT NULL,
--	[ID] [varchar](40) NULL,
--	[CLAVE] [varchar](15) NULL,
--PRIMARY KEY CLUSTERED 
--(
--	[CODUSU] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--INSERT [dbo].[Empresa] ([EmpresaCod], [RazonSocial], [RUC], [Direccion], [RepLegalDocTip], [RepLegalDocNro], [RepLegalApePaterno], [RepLegalApeMaterno], [RepLegalNombres], [EncargadoPlanillaDocTip], [EncargadoPlanillaDocNro], [EncargadoPlanillaApePaterno], [EncargadoPlanillaApeMaterno], [EncargadoPlanillaNombres], [CtaSolesPagoBancoCod], [CtaSolesPagoNumero], [CtaDolaresPagoBancoCod], [CtaDolaresPagoNumero], [TipoTrabajoAFPNet], [CuentaCod]) VALUES (N'00001', N'empresa prueba', N'20987654327', N'xxxx', N'01', N'10876534', N'r', N'atanacio', N'a', N'', N'', N'', N'', N'', N'  ', N'', N'  ', N'', NULL, N'0000001')
--GO
--INSERT [dbo].[Empresa] ([EmpresaCod], [RazonSocial], [RUC], [Direccion], [RepLegalDocTip], [RepLegalDocNro], [RepLegalApePaterno], [RepLegalApeMaterno], [RepLegalNombres], [EncargadoPlanillaDocTip], [EncargadoPlanillaDocNro], [EncargadoPlanillaApePaterno], [EncargadoPlanillaApeMaterno], [EncargadoPlanillaNombres], [CtaSolesPagoBancoCod], [CtaSolesPagoNumero], [CtaDolaresPagoBancoCod], [CtaDolaresPagoNumero], [TipoTrabajoAFPNet], [CuentaCod]) VALUES (N'00002', N'', N'', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'0000002')
--GO

INSERT [dbo].[segformulario] ([codigo], [nombre], [descripcion], [codmodulo]) VALUES (N'0001', N'frmConfiguraBaseDatos', N'configura base de datos', N'01')
GO
INSERT [dbo].[segformulario] ([codigo], [nombre], [descripcion], [codmodulo]) VALUES (N'0002', N'frmRegistraBiometrico', N'mantenimiento de biometrico', N'01')
GO
INSERT [dbo].[segformulario] ([codigo], [nombre], [descripcion], [codmodulo]) VALUES (N'0003', N'frmConfiguraEnvioMarcacion', N'configura envio de marcacion', N'01')
GO
INSERT [dbo].[segmenu] ([codigo], [etiqueta], [nivel1], [nivel2], [nivel3], [comando], [codigoFormulario], [nombreIcono], [codmodulo]) VALUES (N'0001', N'Integracion', N'01', N'00', N'00', N'', N'', N'', N'01')
GO
INSERT [dbo].[segmenu] ([codigo], [etiqueta], [nivel1], [nivel2], [nivel3], [comando], [codigoFormulario], [nombreIcono], [codmodulo]) VALUES (N'0002', N'Configura base de datos', N'01', N'01', N'00', N'', N'0001', N'', N'01')
GO
INSERT [dbo].[segmenu] ([codigo], [etiqueta], [nivel1], [nivel2], [nivel3], [comando], [codigoFormulario], [nombreIcono], [codmodulo]) VALUES (N'0003', N'Registrar biometrico', N'01', N'02', N'00', N'', N'0002', N'', N'01')
GO
INSERT [dbo].[segmenuxperfil] ([codigoPerfil], [codigoMenu], [opcxmenu], [codmodulo]) VALUES (N'03', N'0001', N'111111111111111111111111111111', N'01')
GO
INSERT [dbo].[segmenuxperfil] ([codigoPerfil], [codigoMenu], [opcxmenu], [codmodulo]) VALUES (N'03', N'0002', N'111111111111111111111111111111', N'01')
GO
INSERT [dbo].[segmenuxperfil] ([codigoPerfil], [codigoMenu], [opcxmenu], [codmodulo]) VALUES (N'03', N'0003', N'111111111111111111111111111111', N'01')
GO
INSERT [dbo].[segperfil] ([codigo], [nombre], [descripcion], [FlagPerfilCliente]) VALUES (N'01', N'Administrador Genera', N'Perfil de administrador', N'N')
GO
INSERT [dbo].[segperfil] ([codigo], [nombre], [descripcion], [FlagPerfilCliente]) VALUES (N'02', N'Asistente General', N'Perfil de planillero global', N'N')
GO
INSERT [dbo].[segperfil] ([codigo], [nombre], [descripcion], [FlagPerfilCliente]) VALUES (N'03', N'Administrador', N'Perfil de administrador de cliente', N'S')
GO

INSERT [dbo].[Segusuario] ([Codigo], [CuentaCod], [NombreUsuario], [ClaveUsuario], [CodigoPerfil]) VALUES (N'admin', N'0000001', N'Administrador Cliente', N'e5I2kK8FH+TpialiaZDicA==', N'03')
GO
INSERT [dbo].[SegUsuarioEmpresa] ([CuentaCod], [EmpresaCod], [UsuarioCod]) VALUES (N'0000001', N'00001', N'admin')
GO
INSERT [dbo].[SegUsuarioEmpresa] ([CuentaCod], [EmpresaCod], [UsuarioCod]) VALUES (N'0000002', N'00002', N'admin')
GO
--SET IDENTITY_INSERT [dbo].[USUARIO] ON 
--GO
--INSERT [dbo].[USUARIO] ([CODUSU], [ID], [CLAVE]) VALUES (1, N'IVAN26', N'46631233')
--GO
--SET IDENTITY_INSERT [dbo].[USUARIO] OFF
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [PK_Empresa]    Script Date: 19/12/2024 15:14:58 ******/
--ALTER TABLE [dbo].[Empresa] ADD  CONSTRAINT [PK_Empresa] PRIMARY KEY NONCLUSTERED 
--(
--	[EmpresaCod] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [PK_segmodulo]    Script Date: 19/12/2024 15:14:58 ******/
--ALTER TABLE [dbo].[segmodulo] ADD  CONSTRAINT [PK_segmodulo] PRIMARY KEY NONCLUSTERED 
--(
--	[Codigo] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [PK_SegUsuarioEmpresa]    Script Date: 19/12/2024 15:14:58 ******/
--ALTER TABLE [dbo].[SegUsuarioEmpresa] ADD  CONSTRAINT [PK_SegUsuarioEmpresa] PRIMARY KEY NONCLUSTERED 
--(
--	[CuentaCod] ASC,
--	[EmpresaCod] ASC,
--	[UsuarioCod] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--GO
